body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #222;
    font-family: "Poppins", sans-serif;
}

.container{
    background: linear-gradient(135deg, #00feba, #5b548a);
    max-width: 470px;
    width: 90%;
    padding: 2rem 2.5rem;
    border-radius: 0.6rem;
    margin-top: 4rem;
    color: #fff;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.head button{
    height: 50px;
    width: 50px;
    background-color: #ebfffc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    cursor: pointer;
}

.head img{
    width: 25px;   
}

input{
    padding: 1rem 2.5rem;
    border-radius: 1.5rem;
    outline: none;
    border: none;
    background: #ebfffc;
    color: #555;
    font-size: 18px;
    text-transform: lowercase;
}

.hidden{
    display: none;
}

.weather{
    text-align: center;
    display: block;
}

.weather-icon{
    width: 170px;
}

h1{
    font-size: 50px;
    font-weight: 400;
}

h2{
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 3rem;
}

.details img{
    height: 40px;
    margin-right: 0.4rem;
}

.details{
    display: flex;
    justify-content: space-between;

}

.humidity, .wind{
    display: flex;
    align-items: center;
}

.hum-value, .wind-value{
    font-size: 22px;
    margin-top: -5px;
}