body{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    min-height: 100vh;

}

input{
    margin-right: 2rem;
    font-size: 18px;
    padding: 0.5rem 1rem;
    border: none;
}

.user{
    padding: 15px;
    border-radius: 10px;
    border: 1px solid;
    width: 550px;
    height: 400px;
    text-align: center;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    gap: 20px;
}

p span{
    font-weight: 900;
}

a{
    cursor: pointer;
    font-size: 18px;
    margin-top: 1rem;
}


.hidden{
    display: none;
}